/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.dancing-script-regular {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
body {
    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;
}

.primary-btn {
    width: 12rem;
    height: 3rem;
    background: #E6533C;
    border-radius: 40px;
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}

.primary-btn:hover {
    cursor: pointer;
}

header {
    width: 100%;
    background: linear-gradient(180.00deg, rgb(29, 29, 29), rgba(226, 226, 226, 0) 100%);
}

/* nav styles */
nav {
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
    font-size: 2rem;
    color: #E6533C;
}

.nav-link-container {
    width: 450px;
    height: 45px;
    border: 0.5px solid #ffffff50;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    margin: 0;
    padding: 0;
    width: 105px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    background: #E6533C;
    border-radius: 40px;
}

.nav-link a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}

.nav-bar {
    display: none;
}

/* banner styles */
.banner {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.banner-content {
    width: 32%;
    padding: 1rem;
}

.banner-content h1 {
    font-size: 4rem;
    margin: 0;
}

.banner-content p {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff50;
}

.banner-btns {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.download-btn {
    width: 12rem;
    height: 3rem;
    background: #ffffff00;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}

.banner-img {
    width: 32%;
}

.banner-card {
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}

.banner-card h1 {
    margin: 0.5rem auto;
}

.banner-card p {
    margin: 0;
}

.c1 {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 56%;
    left: 57%;
}

.c2 {
    position: absolute;
    top: 30%;
    right: 13%;
    text-align: center;
}

.card-round {
    width: 40px;
    height: 40px;
    background: #E6533C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* change your habit section */
.change-your-habit {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.change-your-habit h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem auto;
}

.change-your-habit p {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff50;
}

.habits-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    place-items: center;
}

.habits-card {
    width: 235px;
    text-align: center;
}

.circle {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 1rem auto;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* run section styles */
.run-section {
    width: 65%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #222222;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.run-content {
    width: 35%;
    padding: 3rem
}

.run-content h1 {
    font-size: 3rem;
    margin: 1rem auto;
}

.run-content p {
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff50;
}

.run-img {
    width: 35%;
    padding: 2rem;
}

.run-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

/* BMI Calculator styles */
.bmi-calculator {
    width: 100%;
    margin: 3rem auto;
    padding: 2rem 0;
    background-color: #222222;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bmi-texts {
    width: 45%;
    margin: 2rem auto;
    padding: 2rem;
    text-align: start;
}

.bmi-texts h1 {
    font-size: 3rem;
    margin: 1rem auto;
}

.bmi-texts p {
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff50;
}

.bmi-chart {
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
}

.bmi-chart h1 {
    font-size: 2rem;
    margin: 1rem auto;
    text-align: center;
}

.bmi-table {
    border-collapse: collapse;
    width: 50%;
    margin: 3rem auto;
}

.bmi-table th,
td {
    border: 1px solid #ffffff40;
    padding: 0.8rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 300;
}

.bmi-form {
    width: 38%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #222222;
    padding: 1rem;
}

.bmi-form h1 {
    font-size: 2rem;
    margin: 1rem auto;
    text-align: left;
}

.bmi-form p {
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff50;
}

.inputs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.inputs {
    width: 80%;
    height: 48px;
    margin: 1rem 0;
    padding: 0 1.5rem;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    color: #FFFFFF;
}

.activity-input {
    width: 100%;
    height: 48px;
    margin: 1rem 0;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    color: #FFFFFF;
}

/* meet out team section styles */
.meet-out-team {
    width: 65%;
    margin: 3rem auto;
    padding: 2rem;
}

.meet-out-team h1 {
    font-size: 3rem;
    margin: 1rem auto;
    text-align: center;
}

.meet-out-team p {
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff50;
    text-align: center;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    background-color: #222222;
    border-radius: 18px;
}

.team-card {
    width: 330px;
    height: 272px;
    margin: 1rem 1rem;
    position: relative;
}

.team-img {
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}

.team-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.team-content {
    position: absolute;
    top: 75%;
    left: 5%;
    text-align: start;
}

.team-content h4 {
    font-size: 1.5rem;
    text-align: start;
    margin: 0px;
}

.team-content p {
    font-size: 1rem;
    text-align: start;
    margin: 0px;
    color: #ffffff80;
}

/* pricing section styles */
.pricing-section {
    width: 65%;
    margin: 3rem auto;
    padding: 2rem;
}

.pricing-description {
    text-align: center;
}

.pricing-description h5 {
    font-size: 1.5rem;
    margin: 0 auto;
    color: #E6533C;
    text-decoration: underline;
}

.pricing-description h2 {
    font-size: 3rem;
    margin: 0 auto;
}

.pricing-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border-radius: 18px;
}

.pricing-card {
    width: 330px;
    height: 400px;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    border-radius: 18px;
    transition: all 1s;
}

.pricing-card:hover {
    background-color: #d6d6d6;
    color: #000000;
    cursor: pointer;
    transform: scale(1.03);
}

.pricing-card:hover ul li {
    color: #000000;
    font-weight: 500;
}


.pricing-card h4 {
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
}

.pricing-card h5 {
    font-size: 2rem;
    margin: 0.5rem auto;
    text-align: center;
    color: #E6533C;
}

.pricing-card ul {
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff50;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pricing-card ul li {
    margin: 0.8rem 0;
}

.pricing-card button {
    margin: 1rem auto;
}

/* footer styles */
footer {
    width: 100%;
    margin: 3rem auto;
    margin-bottom: 0rem;
    background-color: #222222;
    color: #ffffff80;
    text-align: center;
    padding-bottom: 0.4rem;
}

.footer-container {
    display: grid;
    grid-template-columns: 1.5fr 0.75fr 0.75fr;
    place-items: center;
    margin: 2rem 2rem;
    padding: 2rem 2rem;
    text-align: start;
}

.footer-container h1 {
    font-size: 3rem;
    margin: 1rem auto;
    color: #E6533C;
}

.footer-container a {
    text-decoration: none;
    color: #ffffff80;
    font-size: 1rem;
    font-weight: 300;
}

.footer-container h3 {
    font-size: 1.5rem;
    margin: 1rem auto;
    color: #FFFFFF;
}

hr {
    width: 80%;
}

/* responsive for small devices */
@media screen and (max-width: 576px) {

    /* nav styles */
    nav {
        width: 100%;
    }

    nav h1 {
        margin: 0 0.5rem;
        font-size: 2rem;
    }

    .nav-link-container {
        display: none;
    }

    .nav-bar {
        margin: 0 1rem;
        display: block;
        font-size: 1rem;
    }

    /* banner styles */
    .banner {
        width: 100%;
        flex-direction: column;
    }

    .banner-content {
        width: 90%;
    }

    .banner-content h1 {
        font-size: 3rem;
    }

    .banner-img {
        width: 100%;
        margin-top: 2rem;
    }

    .banner-card {
        width: 40%;
    }

    .banner-card h1 {
        font-size: 1.5rem;
    }

    .banner-card p {
        font-size: 1rem;
    }

    .c1 {
        top: 87%;
        left: 5%;
        margin-right: 0;
    }

    .card-round {
        margin-left: 10px;
    }

    .c2 {
        top: 70%;
        right: 5%;
    }

    /* change your habit section */
    .change-your-habit {
        width: 100%;
    }

    .change-your-habit h1 {
        font-size: 2rem;
    }

    .change-your-habit p {
        font-size: 1rem;
    }

    .habits-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* run section styles */
    .run-section {
        width: 90%;
        flex-direction: column;
    }

    .run-content {
        width: 90%;
        padding: 1rem;
    }

    .run-content h1 {
        font-size: 2rem;
    }

    .run-content p {
        font-size: 1rem;
    }

    .run-img {
        width: 80%;
        margin-top: 0rem;
    }

    .run-section button {
        margin: 0 auto;
        width: 100%;
    }

    /* BMI Calculator styles */
    .bmi-calculator {
        width: 100%;
        flex-direction: column;
    }

    .bmi-texts {
        width: 90%;
        margin: 2rem auto;
        padding: 0;
    }

    .bmi-chart {
        width: 90%;
        margin: 1rem auto;
        padding: 0;
    }

    .bmi-table {
        width: 90%;
    }

    .bmi-form {
        width: 90%;
    }

    .bmi-form h1 {
        font-size: 1.5rem;
    }

    .bmi-form p {
        font-size: 1rem;
    }

    .inputs {
        width: 70%;
        margin: 0.5rem 0;
    }

    .activity-input {
        margin: 0.5rem 0;
    }

    /* meet out team section styles */
    .meet-out-team {
        width: 90%;
        margin: 0.5rem auto;
        padding: 0.5rem;
    }

    .team-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0rem;
        padding: 0rem;
    }

    .team-card {
        width: 90%;
    }

    /* pricing section styles */
    .pricing-section {
        width: 90%;
        margin: 5rem 0;
        padding: 0;
    }

    .pricing-description {
        width: 90%;
        margin: 0.5rem auto;
    }

    .pricing-description h5 {
        font-size: 1rem;
    }

    .pricing-description h2 {
        font-size: 2rem;
    }

    .pricing-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing-card {
        margin: 0.5rem 0;
    }

    /* footer section styles */
    footer {
        margin-top: 3rem;
        padding-bottom: 1rem;
    }

    .footer-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0.5rem;
        padding: 0.5rem;
        place-items: start;
    }

    .footer-container h1 {
        font-size: 2rem;
    }

    .footer-container p {
        font-size: 1rem;
    }

    footer p {
        font-size: 0.7rem;
    }
}