/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.dancing-script-regular {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
body {
    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;
}

.primary-btn {
    width: 12rem;
    height: 3rem;
    background: #E6533C;
    border-radius: 40px;
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}

header {
    width: 100%;
    background: linear-gradient(180.00deg, rgb(29, 29, 29), rgba(226, 226, 226, 0) 100%);
    border: 1px dashed #00f7ff;
}

/* nav styles */
nav {
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 2rem; */
}

nav h1 {
    margin: 0;
    font-size: 2rem;
    color: #E6533C;
}

.nav-link-container {
    width: 450px;
    height: 45px;
    border: 0.5px solid #ffffff50;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    margin: 0;
    padding: 0;
    width: 105px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    background: #E6533C;
    border-radius: 40px;
}

.nav-link a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}

.nav-bar {
    display: none;
}

/* banner styles */
.banner {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    width: 32%;
    padding: 1rem;
}

.banner-content h1 {
    font-size: 4rem;
    margin: 0;
}

.banner-content p {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff50;
}

.banner-btns {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.download-btn {
    width: 12rem;
    height: 3rem;
    background: #ffffff00;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}

.banner-img {
    width: 32%;
}

.banner-card {
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}

.banner-card h1 {
    margin: 0.5rem auto;
}

.banner-card p {
    margin: 0;
}

.c1 {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card-round {
    width: 40px;
    height: 40px;
    background: #E6533C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* change your habit section */
.change-your-habit {
    border: 1px dashed #FFFFFF;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.change-your-habit h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem auto;
}

.change-your-habit p {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff50;
}

.habits-card-container {
    border: 1px dashed #33ff00;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    place-items: center;
}

.habits-card {
    border: 1px dashed #00f7ff;
    width: 235px;
    text-align: center;
}

.circle {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 1rem auto;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* run section styles */
.run-section {
    border: 1px dashed #00f7ff;
    width: 65%;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #222222;
    border-radius: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

}

.run-content {
    border: 1px dashed #33ff00;
    width: 35%;
}

.run-content h1 {
    font-size: 3rem;
    margin: 1rem auto;
}

.run-content p {
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff50;
}

.run-img {
    width: 35%;
    padding: 2rem;
}

.run-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

/* training and exercise section styles */


/* BMI Calculator styles */
.bmi-calculator {
    border: 1px dashed #33ff00;
    width: 100%;
    height: 600px;
    margin: 3rem auto;
    background-color: #222222;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bmi-chart {
    border: 1px dashed #33ff00;
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
}

.bmi-chart h1 {
    font-size: 2rem;
    margin: 1rem auto;
    text-align: center;
}

.bmi-table {
    border: 1px dashed #33ff00;
    border-collapse: collapse;
    width: 50%;
    margin: 3rem auto;
}

.bmi-table th,
td {
    border: 1px solid #ffffff40;
    padding: 0.8rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 300;
}

.bmi-form {
    border: 1px dashed #33ff00;
    width: 38%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #222222;
    padding: 1rem;
}

.bmi-form h1 {
    font-size: 2rem;
    margin: 1rem auto;
    text-align: left;
}

.bmi-form p {
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff50;
}

.inputs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.inputs {
    width: 80%;
    height: 48px;
    margin: 1rem 0;
    padding: 0 1.5rem;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    color: #FFFFFF;
}

.activity-input {
    width: 100%;
    height: 48px;
    margin: 1rem 0;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    color: #FFFFFF;
}